$bgColor: #333;
$txtColor: #fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: $txtColor;
  font-family: sans-serif;
}

html::-webkit-scrollbar {
  width: 1em;
}

html::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

html::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

ul {
  list-style-type: none;
}

.main-wrapper {
  min-height: 100vh;
  background-color: $bgColor;
}

.btn {
  background: transparent;
  border: 1px solid #fff;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;

  &.big {
    padding: 20px 40px;
    font-size: 2rem;
  }

  &.upper {
    text-transform: uppercase;
  }
}

.start-screen {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  &:before {
    position: absolute;
    z-index: -1;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: $bgColor;
  }

  .filled {
    width: 100%;
    height: 100vh;
    max-width: calc(100% - 20px);
    margin-left: 10px;
    max-height: 600px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    .upper {
      --padding: 40px;
      display: flex;
      justify-content: center;
      flex-flow: row nowrap;
      width: 100%;
      max-width: calc(100% - var(--padding) * 2);
      overflow-x: auto;
      margin-bottom: 30px;

      .add-player-card {
        border: 1px solid #fff;
        flex-shrink: 0;
        flex-basis: 100px;
        height: 100px;
        background-color: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;

        + .add-player-card {
          margin-left: 20px;
        }

        button.btn {
          margin-top: 10px;
        }

        &.addNew {
          input[type="text"] {
            width: 80%;
            display: block;
          }
        }
      }

      .display {
        pointer-events: none;
        width: 40px;
        height: 20px;
        background-color: #fff;
        color: #000;
      }
    }
  }
}

.initial-phase {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .options li {
    border: 1px solid #fff;
    padding: 20px 40px;
    text-align: center;
    cursor: pointer;

    + li {
      margin-top: 5px;
    }
  }

  .cards ul {
    display: flex;
  }

  .sips-meter {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }

  .current-player-name {
    position: absolute;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
    font-size: 2rem;
  }
}

.game-board {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  .button {
    position: absolute;
    top: 30px;
    right: 30px;
    display: flex;
    flex-direction: column;
    max-width: 300px;

    .info {
      margin-top: 10px;
    }

    .btn {
      float: right;
    }
  }

  .table {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    .row {
      display: flex;
      margin: 5px 0;

      // .card.on-table {
      //   + .card.on-table {
      //     margin-left: 10px;
      //   }
      // }
    }
  }

  .players-hands {
    margin-top: 20px;
    margin-bottom: 10px;
    // position: absolute;
    // left: 0;
    // bottom: 10px;
    width: 100%;
    display: flex;
    align-self: flex-end;
    justify-content: center;

    .player-hand {
      text-align: center;
      padding: 10px;
      border-radius: 10px;

      @keyframes clickablePlayer {
        0% {
          background: $bgColor;
        }
        100% {
          background: lighten($color: $bgColor, $amount: 20%);
        }
      }

      &.clickable {
        cursor: pointer;
        animation: clickablePlayer 0.8s infinite alternate both;
      }

      .player-name {
        text-transform: uppercase;

        span {
          display: block;
          color: #aaa;
          text-transform: none;
          margin: 5px 0 10px;
        }
      }

      + .player-hand {
        margin-left: 20px;
      }
    }

    .player-cards {
      margin-top: 5px;
      display: flex;
      justify-content: center;
    }
  }
}

// .card-on-hand,
// .card-on-table,
.card {
  width: 60px;
  height: 90px;
  border: 4px solid #fff;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-color: #fff;

  &.black {
    color: #000;
    border-color: #000;
  }

  &.red {
    color: #df3131;
    border-color: #df3131;
  }

  + .card {
    margin-left: 10px;
  }

  &.on-table:not(.active) {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      border: 4px solid #fff;
      border-radius: 2px;
      transform: translate(-4px, -4px);
      z-index: 1;
    }
  }
}

.kierowca-screen {
  .end-screen {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;

    > h1 {
      margin-bottom: 10px;
    }

    .scores {
      margin-top: 10vh;
      text-align: center;

      ul {
        display: flex;
        margin-top: 15px;

        li {
          border: 1px solid $txtColor;
          padding: 20px;

          + li {
            margin-left: 10px;
          }
        }
      }
    }
  }

  .kierowca {
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;

    .buttons li {
      border: 1px solid #fff;
      padding: 20px 40px;
      text-align: center;
      cursor: pointer;

      + li {
        margin-top: 5px;
      }
    }

    .cards {
      display: flex;

      .card + .card {
        margin-left: 10px;
      }
    }

    .info {
      position: absolute;
      bottom: 10px;
      left: 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
    }
  }
}
